*{
    background-color:#dfdeda;
}

.bg {
    width: 1500px;
    height: 700px;
    border-radius: 20px;
    background: white;
    margin-left: 10px;
    margin-top: 14px;
}

.welc {
    margin-top: -600px;
    margin-left: 400px;
    font-size: 3rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: transparent;
    background: transparent;

}


.logo img{
    width: 1400px;
    height: 800px;
    border-radius: 20px;
    background: white;
    background-attachment: fixed;
    margin-left: 50px;
    margin-top: 10px;
    animation: logo 1s both;
}

@keyframes logo {
    0%{
        opacity: 0;
        transform: scale(0.96);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

.navigation {
    margin-top: -700px;
    margin-left: 700px;
    animation: navigation 1.2s both;
}

@keyframes navigation {
    0%{
        opacity: 0;
        transform: translateY(-20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.navigation a {
    position: relative;
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: transparent;
}

.navigation .bta{
    width: 100px;
    height: 40px;
    background: rgb(19, 19, 19);
    border: 2px solid rgb(19, 19, 19);
    border-radius: 10px;
    color: rgba(216, 216, 212, 0.95);
    font-size: 1.2rem;
    font-weight: 700;
    transition: .4s;
    backdrop-filter: blur(20px);
}

.navigation .btb{
    width: 100px;
    height: 40px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0);
    border-radius: 10px;
    color: rgb(30, 30, 30);
    font-size: 1.2rem;
    font-weight: 700;
    transition: .4s;
    background-color: rgba(20, 20, 20, 0);
    backdrop-filter: blur(20px);
}

.navigation .btc{
    width: 100px;
    height: 40px;
    background: rgba(240, 240, 236, 0.647);
    border: 2px solid rgb(17, 17, 17);
    border-radius: 10px;
    color: rgb(33, 33, 33);
    font-size: 1.2rem;
    font-weight: 700;
    transition: .4s;
    backdrop-filter: blur(20px);

}.navigation .btd{
    width: 150px;
    height: 40px;
    background: rgba(240, 240, 236, 0.647);
    border: 2px solid rgb(20, 20, 20);
    border-radius: 10px;
    color: rgb(29, 29, 29);
    font-size: 1.2rem;
    font-weight: 700;
    transition: .4s;
    backdrop-filter: blur(20px);

}.navigation .bte{
    width: 100px;
    height: 40px;
    background: rgba(240, 240, 236, 0.647);
    border: 2px solid rgb(40, 40, 40);
    border-radius: 10px;
    color: rgb(33, 33, 33);
    font-size: 1.2rem;
    font-weight: 700;
    transition: .4s;
    backdrop-filter: blur(20px);
}

.navigation .bta:hover {
    background: rgb(36, 36, 36);
    color: rgb(221, 219, 219);
    font-size: 1.2rem;
}



.navigation .btb:hover {
    background: rgb(217, 217, 205);
    color: rgb(20, 20, 20);
    font-size: 1.2rem;
}

.navigation .btc:hover {
    background: rgb(217, 217, 205);
    color: rgb(20, 20, 20);
    font-size: 1.2rem;
}

.navigation .btd:hover {
    background: rgb(217, 217, 205);
    color: rgb(20, 20, 20);
    font-size: 1.2rem;
}

.navigation .bte:hover {
    background: rgb(23, 23, 23);
    color: rgb(233, 233, 222);
    font-size: 1.2rem;
}

.visit {
    margin-left: 450px;
    margin-top: 400px;
}

.store {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 500px;
    height: 70px;
    background: rgba(28, 28, 28, 0.998);
    border: 1px solid rgba(25, 25, 25, 0);
    border-radius: 20px;
    color: rgb(240, 240, 236);
    font-size: 2rem;
    font-weight: 700;
    transition: .3s;
    backdrop-filter: blur(10px);
    animation: store 1.6s both;
}

@keyframes store {
    0%{
        opacity: 0;
        transform: translateY(20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.store:hover {
    background-color: rgb(217, 217, 205);
    color: black;
}

.navigationbg{

    width: 1450px;
    height: 70px;
    border-radius: 20px;
    background: white;
    margin-left: 30px;
    margin-top: 200px;
    display: flex;
    background: rgb(217, 217, 205);
    border-radius: 20px;
    position: sticky;
    position: -webkit-sticky;
    top: 640px;
    box-shadow: black;

}

.navigationbga{

    width: 1400px;
    height: 70px;
    border-radius: 30px;
    margin-left: 50px;
    margin-top: 200px;
    display: flex;
    background: rgba(211, 211, 202, 0.863);
    backdrop-filter: blur(20px);
    box-shadow: 2px 6px 15px rgba(0, 0, 0, 0.056);
    border-radius: 20px;
    position: sticky;
    position: -webkit-sticky;
    top: 10px;
    box-shadow: black;
    z-index: 1;
    animation: navigationbga both;
    animation-timeline: view();
}

@keyframes navigationbga{
    0%{
        opacity: 0.8;
        width: 2000px;
        height: 200px;
    }
    20%{
        opacity: 1;
        width: 1400px;
        height: 70px;
    }

}


.logoaa img{
    width: 100px;
    height: 50px;
    margin-left: 150px;
    border-radius: 20px;
    margin-top: 10px;
    position: relative;
    z-index: 1;
    background-color: #ffffff00;
}

.logoname{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 0.7rem;
    margin-left: 10px;
    margin-top: 5px;
    background-color: transparent;
}

.navigator {
    margin-left: 620px;
    margin-top: -55px;
    position: sticky;
    position: -webkit-sticky;
    top: 25px;
    z-index: 1;
    animation: navigator both;
    animation-timeline: view();
}

@keyframes navigator{
    0%{
        opacity: 0.8;
        transform: translateX(100px);
    }
    50%{
        opacity: 1;
    }
    80%{
        transform: translateX(0);
    }
}

.navigator a {
    position: relative;
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    margin-right: 20px;
    margin-top: 50px;
    margin-bottom: 10px;
    background: transparent;
}

.navigator .btna{
    width: 100px;
    height: 40px;
    background: rgba(240, 240, 236, 0.816);
    border: 2px solid rgba(19, 19, 19, 0);
    border-radius: 10px;
    color: rgba(20, 20, 20, 0.95);
    font-size: 1.2rem;
    font-weight: 700;
    transition: .4s;
    backdrop-filter: blur(20px);
}


.navigator .btnc{
    width: 160px;
    height: 40px;
    background: rgba(240, 240, 236, 0.744);
    border: 2px solid rgba(17, 17, 17, 0);
    border-radius: 10px;
    color: rgb(33, 33, 33);
    font-size: 1.2rem;
    font-weight: 700;
    transition: .4s;
    backdrop-filter: blur(20px);

}.navigator .btnd{
    width: 150px;
    height: 40px;
    background: rgba(240, 240, 236, 0.816);
    border: 2px solid rgba(20, 20, 20, 0);
    border-radius: 10px;
    color: rgb(29, 29, 29);
    font-size: 1.2rem;
    font-weight: 700;
    transition: .4s;
    backdrop-filter: blur(20px);

}.navigator .btne{
    width: 100px;
    height: 40px;
    background: rgba(240, 240, 236, 0.796);
    border: 2px solid rgba(40, 40, 40, 0);
    border-radius: 10px;
    color: rgb(33, 33, 33);
    font-size: 1.2rem;
    font-weight: 700;
    transition: .4s;
    backdrop-filter: blur(20px);
}

.navigator .btna:hover {
    background: rgb(36, 36, 36);
    color: rgb(221, 219, 219);
    font-size: 1.2rem;
}



.navigator .btnb:hover {
    background: rgb(33, 33, 27);
    color: rgba(216, 216, 212, 0.95);
    font-size: 1.2rem;
}

.navigator .btnc:hover {
    background: rgb(20, 20, 19);
    color: rgba(216, 216, 212, 0.95);
    font-size: 1.2rem;
}

.navigator .btnd:hover {
    background: rgb(23, 23, 22);
    color: rgba(216, 216, 212, 0.95);
    font-size: 1.2rem;
}

.navigator .btne:hover {
    background: rgb(23, 23, 23);
    color: rgba(216, 216, 212, 0.95);
    font-size: 1.2rem;
}

.lil {
    font-family: sans-serif;
    font-size: 0.6rem;
    margin-left: 140px;
    margin-top: 18px;
    background: rgba(241, 241, 238, 0.677);
    backdrop-filter: blur(60px);
    padding: 5px;
    border-radius: 20px 20px 20px 20px;
    width: 1200px;
    color: black;
    align-items: center;
    justify-content: center;
    position: sticky;
    position: -webkit-sticky;
    top: 83px;
}

.lil a{
    margin-left: 300px;
}

.storetxt {
    width: 1400px;
    height: 900px;
    background-color: rgb(241, 241, 238);
    border-radius: 20px;
    margin-left: 50px;
    margin-top: 28px;
    animation: storetxt both;
    animation-timeline: view();
}

@keyframes storetxt {
    0%{
        transform: translateY(300px) scale(1.7);
    }
    40%{
        transform: translateY(0) scale(1);
    }
}

.stor {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    font-weight: 700;
    margin-top: -900px;
    margin-left: 270px;
    animation: stor both;
    animation-timeline: view();
}

@keyframes stor{
    0%{
        opacity: 0.7;
        transform: translateX(-30px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
        
    }
}

.sto {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    font-weight: 700;
    margin-top: -125px;
    margin-left: 450px;
    color: #47453fa9;
    animation: sto both;
    animation-timeline: view();
}

@keyframes sto{
    0%{
        opacity: 0;
        transform: translateX(70px);
    }
    40%{
        opacity: 1;
        transform: translateX(0);
    }
    100%{
        opacity: 1;
    }
}


.stoa {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    font-weight: 700;
    margin-top: -70px;
    margin-left: 269px;
    color: #47453fc2;
    animation: stoa both;
    animation-timeline: view(20% 30%);
}

@keyframes stoa{
    0%{
        opacity: 0.7;
        transform: translateY(50px);
    }
    40%{
        opacity: 1;
        transform: translateX(0);
    }
}

.stob {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    font-weight: 700;
    margin-top: -127px;
    margin-left: 678px;
    color: #9b0707d3;
    animation: stob both;
    animation-timeline: view();
}

@keyframes stob{
    0%{
        transform: translateX(5px);
    }
    100%{
        transform: translateX(0);
    }
}

.products {
    width: 140vmin;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    overflow: hidden;
    margin-left: 760px;
    margin-top: 300px;
}

.banner {
    width: 100%;
    display: flex;
    animation: slide 10s infinite;
    
}

@keyframes slide {
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    }

}

.banner img{
    width: 100%;

}

.cata {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    color: #47453fc2;
    margin-left: 480px;
    margin-top: 150px;
    animation: cata both;
    animation-timeline: view();
}

@keyframes cata {
    0%{
        opacity: 0;
        filter: blur(20px);
        transform: translateY(20px);
    }
    60%{
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}

.catag {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    color: #000000fe;
    margin-left: 730px;
    margin-top: -125px;
    font-weight: 700;
    animation: catag both;
    animation-timeline: view();
}

@keyframes catag {
    0%{
        opacity: 0;
        filter: blur(5px);
        transform: translateY(-100px);
    }
    50%{
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}

.catagg {
    margin-top: 600px;
    background-color: transparent;
    color: transparent;

}

.prods{
    display: flex;
}

.proda img{
    width: 200px;
    height: 180px;
    margin-left: 200px;
    border-radius: 30px;
    transition: 0.4s;
    animation: proda both;
    animation-timeline: view();
}

@keyframes proda {
    0%{
        opacity: 0;
        filter: blur(20px);
        transform: translateX(-100px);
    }
    50%{
        opacity: 1;
        filter: blur(0);
        transform: translateX(0);
    }
}

.proda img:hover{
    margin-top: -7px;
}

.prodb img{
    width: 200px;
    height: 180px;
    margin-left: 250px;
    border-radius: 30px;
    transition: 0.4s;
    animation: prodb both;
    animation-timeline: view();
}

@keyframes prodb {
    0%{
        opacity: 0;
        filter: blur(20px);
        transform: translateY(100px);
    }
    50%{
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}

.prodb img:hover{
    margin-top: -7px;
}

.prodc img{
    width: 200px;
    height: 180px;
    margin-left: 250px;
    border-radius: 30px;
    transition: 0.4s;
    animation: prodc both;
    animation-timeline: view();
}

@keyframes prodc {
    0%{
        opacity: 0;
        filter: blur(20px);
        transform: translateX(100px);
    }
    50%{
        opacity: 1;
        filter: blur(0);
        transform: translateX(0);
    }
}

.prodc img:hover{
    margin-top: -7px;
}

.headphn{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 200px;
    height: 95px;
    margin-left: 220px;
    margin-top: -30px;
    font-size: 0.8rem;
    font-weight: 900;
    color: #252420de;
}

.earbd{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 200px;
    height: 95px;
    margin-left: 705px;
    margin-top: -112px;
    font-size: 0.8rem;
    font-weight: 900;
    color: #252420de;
}

.earphn{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 200px;
    height: 95px;
    margin-left: 1130px;
    margin-top: -109px;
    font-size: 0.8rem;
    font-weight: 900;
    color: #252420de;
}

.orr{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1rem;
    margin-left: 300px;
    margin-top: -10px;
}

.orr{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 300px;
    margin-top: -30px;
}

.appllogo img{
    width: 100px;
    height: 95px;
    margin-top: -10px;
}

.sonylogo img{
    width: 160px;
    height: 50px;
}

.senlogo img{
    width: 300px;
    height: 100px;

}

.hdphn img {
    width: 1350px;
    height: 750px;
    margin-left: 50px;
    animation: hdphn both;
    animation-timeline: view();
}

@keyframes hdphn {
    0%{
        transform: translateY(100px) scale(1.7);
        filter: blur(20px);
    }
    50%{
        transform: translateY(0) scale(1);
        filter: blur(0);
    }
    100%{
        transform: translateY(670px) scale(0.8);
        opacity: 0.8;
    
    }

}

.productss{
    width: 1300px;
    height: 520px;
    margin-left: 100px;
    border-radius: 30px;
    background-color: rgba(232, 232, 232, 0.925);
    position: absolute;
    backdrop-filter: blur(20px);
    animation: productss both;
    animation-timeline: view();
}

@keyframes productss {
    0%{
        transform: translateY(100px) scale(1.7);
    }
    40%{
        transform: translateY(0) scale(1);
    }
}

.proa img{
    width: 350px;
    height: 370px;
    margin-left: 180px;
    border-radius: 20px;
    margin-top: 80px;
    position: absolute;
    opacity: 0.9;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.115);
    animation: proa both;
    animation-timeline: view();
    transition: 0.4s;
}

@keyframes proa {
    0%{
        transform: translateY(100px) translateX(-100px) scale(0.7);
        filter: blur(20px);
        opacity: 0;
    }
    30%{
        transform: translateY(0) translateX(0) scale(1);
        filter: blur(0);
        opacity: 1;
    }
}

.proa img:hover{
    width: 355px;
    height: 377px;
}

.proba img{
    width: 350px;
    height: 370px;
    margin-left: 570px;
    margin-top: 80px;
    border-radius: 20px;
    position: absolute;
    opacity: 0.9;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.115);
    animation: proba both;
    animation-timeline: view();
    transition: 0.4s;
}

@keyframes proba {
    0%{
        transform: translateY(100px) scale(0.7);
        filter: blur(20px);
        opacity: 0;
    }
    30%{
        transform: translateY(0) scale(1);
        filter: blur(0);
        opacity: 1;
    }

}

.proba img:hover{
    width: 355px;
    height: 377px;
}

.proca img{
    width: 350px;
    height: 370px;
    margin-left: 965px;
    margin-top: 80px;
    border-radius: 20px;
    position: absolute;
    opacity: 0.9;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.115);
    animation: proca both;
    animation-timeline: view();
    transition: 0.4s;
}

@keyframes proca {
    0%{
        transform: translateY(100px) translateX(100px) scale(0.7);
        filter: blur(20px);
        opacity: 0;
    }
    30%{
        transform: translateY(0) translateX(0) scale(1);
        filter: blur(0);
        opacity: 1;
    }

}

.proca img:hover{
    width: 355px;
    height: 377px;
}


